<navbar></navbar>

<div class="container-fluid dashContent row mx-auto">
    <div class="divContenu container-fluid d-flex divContenu" >
        <div class="col-md-8 mt-4" style="height: 93%; border-radius: 12px;">
            <router-outlet></router-outlet> 
                   
        </div>


        <div class="col-md-4 divGestionAgent "  style="background-color: #f8f8f8;  display: flex; justify-content: center; align-items: flex-start; ">
            <div class="card cardGestionAgent border-0  shadow p-3 mt-4  " >
                <div class="card-body">
                    <h4 class="card-title text-center MontserratB">Agent Management</h4>
                    <div class="card-text py-2 px-1 " >
    
                        <div class=' text-center MontserratB mb-3'>
                            <button type='submit' class="btn btn-block py-2 AddAgentBtn " (click)="addAgent()" routerLinkActive="active"
                            >Add Agent</button>
                        </div>
    
                        <div class=' text-center MontserratB mb-2'>
                            <button type='submit' class="btn btn-block py-2 botton ListAgentBtn " (click)="listAgent()" routerLinkActive="active">
                                Agents List</button>
                        </div>   
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
